.header-content{
    background: lightseagreen;
}
ul{
    background-color: black;
    color:white;
    overflow: hidden;
    list-style: none;
}
ul li{
    float: left;
    margin:10px;
}

.jbMenu{
    text-align: left;
    background-color: black;
    width: 100px; 
}

.jbFixed{
    position: fixed;
    top: 100px;
}